<a href="https://colab.research.google.com/github/sowmR/ML-LogisticRegression/blob/main/LogisticRegression_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression using numpy

In [4]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [22]:
class LogisticRegression:
  def __init__(self,learningRate, epochs):
    self.learning_rate  = learningRate
    self.epochs = epochs

  def dw(self,y_pred):
    return (1/self.sn)* (np.dot(self.X.T,(y_pred - self.Y)))

  def db(self,y_pred):
    return (1/self.sn) * np.sum(y_pred-self.Y)  

  def update_coefficients(self, y_pred):
    self.weights = self.weights-self.learning_rate * self.dw(y_pred)
    self.bias = self.bias - self.learning_rate* self.db(y_pred)

  def predict(self, x):
    y_pred = []
    z = np.dot(x,self.weights) + self.bias
    # sigmoid function
    y_pred = 1/(1+np.exp(-z))

    y_pred = np.where(y_pred>0.5,1,0)
    return y_pred

  def fit(self, x,y):
    # sn => number of samples
    # fn => number of features
    self.sn, self.fn = x.shape

    # initialize weight and bias
    self.weights = np.zeros(self.fn)
    self.bias = 0
    self.X = x
    self.Y = y

    for i in range(self.epochs):
      y_pred = self.predict(self.X)
      self.update_coefficients(y_pred)

In [23]:
rawDataset = pd.read_csv('sample_data/framingham.csv')
print(rawDataset.shape)
print(rawDataset.columns)

(4238, 16)
Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [24]:
rawDataset.head(5)

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [25]:
target = 'TenYearCHD'
featureDf = rawDataset.copy()
featureDf.drop(target, axis =1,inplace = True)
targetDf = pd.DataFrame(list(rawDataset[target]),columns=[target])
print(targetDf.shape, featureDf.shape)

(4238, 1) (4238, 15)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(featureDf,targetDf,test_size=0.3,random_state=0)
print(x_train.shape, x_test.shape)

(2966, 15) (1272, 15)

In [28]:
model = LogisticRegression(0.002,10)
model.fit(x_train, list(y_train[target]))
y_pred = model.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.8443396226415094